.lugares{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.img-section{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.img-lugares{
    width: 90%;
    height: 40%;
    margin: 20px;
    transition: 0.5s;
    object-fit: cover;
    overflow: hidden;

}


.img-lugares:hover{
    position: relative;
    transform: scale(1.1);
    background-color: #fff;
}
